<%- model_class = Result -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='team'>
  <p>id: <%= @Result.id %></p>
  <p>descripcion: <%= @Result.answer_id %></p>
</div>